@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(168, 167, 167);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    
}

header{
    background-color: gray;
    padding-top: 10px;
}

#burguer{
    background-color: rgb(48,48,48);
    display: block;
    color: white;
    padding: 10px;
}
#burguer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


menu{
    text-align: center;
   
}

menu li{
   
    border-top: 2px solid rgb(160, 158, 158);
    padding: 10px;
    display: none;
}

menu a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    background-color: rgb(78, 74, 74);
}

menu li:hover{
    background-color: aqua;
}



main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    text-indent: 15px;
}

h2{
    padding-bottom: 15px;
}

p{
    padding: 10px;
}
